USE [master]
GO
/****** Object:  Database [QLHDVT]    Script Date: 11/05/2026 12:41:04 SA ******/
CREATE DATABASE [QLHDVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHDVT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QLHDVT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHDVT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QLHDVT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHDVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHDVT]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,
    @TargetDate DATE
)
RETURNS MONEY
AS
BEGIN

    DECLARE @Principal MONEY;
    DECLARE @StartDate DATE;
    DECLARE @Deadline1 DATE;

    SELECT
        @Principal = Principal,
        @StartDate = StartDate,
        @Deadline1 = Deadline1
    FROM Contracts
    WHERE ContractID = @ContractID;

    DECLARE @Days1 INT =
        CASE
            WHEN @TargetDate <= @Deadline1
            THEN DATEDIFF(DAY, @StartDate, @TargetDate)

            ELSE DATEDIFF(DAY, @StartDate, @Deadline1)
        END;

    DECLARE @SimpleInterest MONEY =
        @Principal * 0.005 * @Days1;

    IF @TargetDate <= @Deadline1
        RETURN @Principal + @SimpleInterest;

    DECLARE @Days2 INT =
        DATEDIFF(DAY, @Deadline1, @TargetDate);

    DECLARE @Amount MONEY =
        @Principal + @SimpleInterest;

    SET @Amount =
        @Amount * POWER(1.005, @Days2);

    RETURN @Amount;

END;
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[AssetName] [nvarchar](100) NULL,
	[Value] [money] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[Amount] [money] NULL,
	[CreatedAt] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Principal] [money] NULL,
	[StartDate] [date] NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[Amount] [money] NULL,
	[PaymentDate] [datetime] NULL,
	[Collector] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([AssetID], [ContractID], [AssetName], [Value], [Status]) VALUES (1, 1, N'Iphone 15', 7000000.0000, N'Đang cầm cố')
INSERT [dbo].[Assets] ([AssetID], [ContractID], [AssetName], [Value], [Status]) VALUES (2, 1, N'Xe máy Honda', 15000000.0000, N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogID], [ContractID], [Action], [Amount], [CreatedAt], [Note]) VALUES (1, 1, N'Thanh toán', 1000000.0000, CAST(N'2026-05-11T00:38:34.963' AS DateTime), N'Khách trả tiền')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ContractID], [CustomerID], [Principal], [StartDate], [Deadline1], [Deadline2], [Status]) VALUES (1, 1, 10000000.0000, CAST(N'2026-05-11' AS Date), CAST(N'2026-05-21' AS Date), CAST(N'2026-05-26' AS Date), N'Đang trả góp')
INSERT [dbo].[Contracts] ([ContractID], [CustomerID], [Principal], [StartDate], [Deadline1], [Deadline2], [Status]) VALUES (2, 1, 5000000.0000, CAST(N'2026-04-21' AS Date), CAST(N'2026-05-01' AS Date), CAST(N'2026-05-06' AS Date), N'Đã thanh lý')
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [CreatedAt]) VALUES (1, N'Nguyen Van A', N'0123456789', CAST(N'2026-05-11T00:26:28.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [ContractID], [Amount], [PaymentDate], [Collector]) VALUES (1, 1, 2000000.0000, CAST(N'2026-05-11T00:32:20.687' AS DateTime), N'Admin')
INSERT [dbo].[Payments] ([PaymentID], [ContractID], [Amount], [PaymentDate], [Collector]) VALUES (2, 1, 1000000.0000, CAST(N'2026-05-11T00:38:34.957' AS DateTime), N'Staff')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateContract]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateContract]
(
    @FullName NVARCHAR(100),
    @Phone VARCHAR(15),
    @Principal MONEY
)
AS
BEGIN

    INSERT INTO Customers
    (
        FullName,
        Phone
    )
    VALUES
    (
        @FullName,
        @Phone
    );

    DECLARE @CustomerID INT;

    SET @CustomerID = SCOPE_IDENTITY();

    INSERT INTO Contracts
    (
        CustomerID,
        Principal,
        StartDate,
        Deadline1,
        Deadline2,
        Status
    )
    VALUES
    (
        @CustomerID,
        @Principal,
        GETDATE(),
        DATEADD(DAY, 5, GETDATE()),
        DATEADD(DAY, 10, GETDATE()),
        N'Đang vay'
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExtendContract]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ExtendContract]
(
    @ContractID INT
)
AS
BEGIN

    UPDATE Contracts
    SET
        Deadline1 = DATEADD(DAY, 5, Deadline1),
        Deadline2 = DATEADD(DAY, 5, Deadline2),
        Status = N'Đang vay'

    WHERE ContractID = @ContractID;

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PayDebt]    Script Date: 11/05/2026 12:41:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_PayDebt]
(
    @ContractID INT,
    @Amount MONEY,
    @Collector NVARCHAR(100)
)
AS
BEGIN

    DECLARE @Debt MONEY;

    SET @Debt =
        dbo.fn_CalcMoneyContract
        (
            @ContractID,
            GETDATE()
        );

    INSERT INTO Payments
    (
        ContractID,
        Amount,
        Collector
    )
    VALUES
    (
        @ContractID,
        @Amount,
        @Collector
    );

    SET @Debt = @Debt - @Amount;

    IF @Debt <= 0
    BEGIN

        UPDATE Contracts
        SET Status = N'Đã thanh toán'
        WHERE ContractID = @ContractID;

        UPDATE Assets
        SET Status = N'Đã trả khách'
        WHERE ContractID = @ContractID;

    END

    ELSE
    BEGIN

        UPDATE Contracts
        SET Status = N'Đang trả góp'
        WHERE ContractID = @ContractID;

    END

END;

GO
USE [master]
GO
